<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sss.mes.dao.IViewMyWorkflowTimeoutDAO" >
  <resultMap id="BaseResultMap" type="com.sss.mes.pojo.ViewMyWorkflowTimeout" >
    <result column="CardId" property="cardid" jdbcType="INTEGER" />
    <result column="CardNo" property="cardno" jdbcType="VARCHAR" />
    <result column="TimeOut" property="timeout" jdbcType="BIGINT" />
    <result column="WorkCardType" property="workcardtype" jdbcType="INTEGER" />
    <result column="P_Type" property="pType" jdbcType="INTEGER" />
    <result column="ContractNo" property="contractno" jdbcType="VARCHAR" />
    <result column="D_Standards" property="dStandards" jdbcType="VARCHAR" />
    <result column="Pro_Name" property="proName" jdbcType="VARCHAR" />
    <result column="CardD1" property="cardd1" jdbcType="VARCHAR" />
    <result column="CardD2" property="cardd2" jdbcType="VARCHAR" />
    <result column="CardS1" property="cards1" jdbcType="VARCHAR" />
    <result column="CardS2" property="cards2" jdbcType="VARCHAR" />
    <result column="D_Steel" property="dSteel" jdbcType="VARCHAR" />
    <result column="D_FurnaceNo" property="dFurnaceno" jdbcType="VARCHAR" />
    <result column="D_HeatNo" property="dHeatno" jdbcType="VARCHAR" />
    <result column="D_Spec1" property="dSpec1" jdbcType="VARCHAR" />
    <result column="D_Quantity" property="dQuantity" jdbcType="INTEGER" />
    <result column="D_Weight" property="dWeight" jdbcType="VARCHAR" />
    <result column="D_Weights" property="dWeights" jdbcType="DECIMAL" />
    <result column="D_TotalWeight" property="dTotalweight" jdbcType="DECIMAL" />
    <result column="D_CS" property="dCs" jdbcType="VARCHAR" />
    <result column="D_Spec2" property="dSpec2" jdbcType="VARCHAR" />
    <result column="D_Number" property="dNumber" jdbcType="VARCHAR" />
    <result column="D_Length" property="dLength" jdbcType="VARCHAR" />
    <result column="D_SurfaceState" property="dSurfacestate" jdbcType="VARCHAR" />
    <result column="D_EndfaceState" property="dEndfacestate" jdbcType="VARCHAR" />
    <result column="D_SolutionTemp" property="dSolutiontemp" jdbcType="VARCHAR" />
    <result column="D_Tolerances" property="dTolerances" jdbcType="VARCHAR" />
    <result column="S_Tolerances" property="sTolerances" jdbcType="VARCHAR" />
    <result column="FeedingDate" property="feedingdate" jdbcType="VARCHAR" />
    <result column="F_Weight" property="fWeight" jdbcType="DECIMAL" />
    <result column="F_Date" property="fDate" jdbcType="VARCHAR" />
    <result column="W_Weight" property="wWeight" jdbcType="DECIMAL" />
    <result column="W_Date" property="wDate" jdbcType="VARCHAR" />
    <result column="R_Weight" property="rWeight" jdbcType="DECIMAL" />
    <result column="R_Date" property="rDate" jdbcType="VARCHAR" />
    <result column="FinishRate" property="finishrate" jdbcType="VARCHAR" />
    <result column="PassRate" property="passrate" jdbcType="VARCHAR" />
    <result column="CardBeginDate" property="cardbegindate" jdbcType="VARCHAR" />
    <result column="DeliveryDate" property="deliverydate" jdbcType="VARCHAR" />
    <result column="BatchNo" property="batchno" jdbcType="VARCHAR" />
    <result column="Cardmake" property="cardmake" jdbcType="VARCHAR" />
    <result column="CardMakeDate" property="cardmakedate" jdbcType="VARCHAR" />
    <result column="CardAudting" property="cardaudting" jdbcType="VARCHAR" />
    <result column="CardAudtingDate" property="cardaudtingdate" jdbcType="VARCHAR" />
    <result column="CardState" property="cardstate" jdbcType="INTEGER" />
    <result column="R_Type" property="rType" jdbcType="INTEGER" />
    <result column="DeptID" property="deptid" jdbcType="INTEGER" />
    <result column="ProduceM_Id" property="producemId" jdbcType="INTEGER" />
    <result column="ProduceM_Name" property="producemName" jdbcType="VARCHAR" />
    <result column="ProduceM_Number" property="producemNumber" jdbcType="INTEGER" />
    <result column="ProduceM_Weight" property="producemWeight" jdbcType="DECIMAL" />
    <result column="ProduceM_Weights" property="producemWeights" jdbcType="DECIMAL" />
    <result column="ProduceM_Spec" property="producemSpec" jdbcType="VARCHAR" />
    <result column="ProduceM_EndTime" property="producemEndtime" jdbcType="VARCHAR" />
    <result column="ProduceM_State" property="producemState" jdbcType="BIGINT" />
    <result column="ProduceM_RouteNo" property="producemRouteno" jdbcType="INTEGER" />
    <result column="D_Situation" property="dSituation" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sss.mes.pojo.ViewMyWorkflowTimeoutWithBLOBs" extends="BaseResultMap" >
    <result column="ProduceM_Plan" property="producemPlan" jdbcType="LONGVARCHAR" />
    <result column="Special_Requirements" property="specialRequirements" jdbcType="LONGVARCHAR" />
    <result column="SprayWord_Requirements" property="spraywordRequirements" jdbcType="LONGVARCHAR" />
    <result column="Package_Requirements" property="packageRequirements" jdbcType="LONGVARCHAR" />
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.sss.pojo.dto.WFTOWeightAndCardNos" >
    <result column="ProduceM_Name" property="ProduceM_Name" jdbcType="VARCHAR" />
    <result column="totalWeight" property="totalWeight" jdbcType="DECIMAL" />
    <result column="totalCardNo" property="totalCardNo" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.sss.pojo.dto.CountWftosByTimeOut" >
    <result column="totalNumber" property="totalNumber" jdbcType="INTEGER" />
    <result column="frameNumber" property="frameNumber" jdbcType="INTEGER" />
    <result column="totalWeight" property="totalWeight" jdbcType="DECIMAL" />
    <result column="timeOut" property="timeOut" jdbcType="BIGINT" />
  </resultMap>
  <cache 
  	eviction="FIFO" 
  	flushInterval="900000" 
	size="512" 
	readOnly="true"/> 
  <select id="getViewEntitys" resultMap="BaseResultMap" >
    select CardNo,contractNo,TimeOut,ProduceM_Name,ProduceM_Spec from view_weixin_workflow_timeout 
    where ContractNo not like '%BH%' and D_situation is null order by TimeOut, CardId asc
  </select>
  <select id="getWftosByPageNoAndSize" resultMap="BaseResultMap" >
    select CardNo,contractNo,TimeOut,ProduceM_Name,ProduceM_Spec from view_weixin_workflow_timeout 
    where ContractNo not like '%BH%' and D_situation is null order by TimeOut , CardId asc 
    limit #{fromNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getEntitysCount" resultType="java.lang.Integer" >
    select count(*) from 
    (select CardId from view_my_workflow_timeout where ContractNo not like '%BH%' and D_situation is null order by TimeOut asc) t
  </select>
  <select id="getContractNoCount" resultType="java.lang.Integer" >
	  select count(*) from 
		(select count(*) from 
			(select ContractNo from view_my_workflow_timeout where ContractNo not like '%BH%' and D_situation is null order by TimeOut asc limit 0,13) t 
		group by ContractNo) t1
  </select>
  <!-- 执行存储过程传入的map -->
  <parameterMap type="java.util.Map" id="map">  
    <parameter property="cc" mode="OUT" jdbcType="INTEGER"/>  
    <parameter property="ec" mode="OUT" jdbcType="INTEGER"/>  
    <parameter property="num" mode="IN" jdbcType="INTEGER"/>  
  </parameterMap>
  <select id="getCcAndEc" parameterMap="map" resultType="java.util.Map" statementType="CALLABLE">  
    call Pro_ContractNoCount1(?,?,?)  
  </select> 
  <select id="getWeightAndCardNos" resultMap="BaseResultMap1" >
    select produceM_Name,count(*) totalCardNo,sum(D_totalWeight) totalWeight 
    from view_my_workflow_timeout GROUP BY produceM_Name
  </select>
  
  <!-- 根据延期天数统计总重量和总支数 -->
  <select id="countWftosByTimeOut" resultMap="BaseResultMap2" parameterType="java.lang.Integer">
    select TimeOut as timeOut, count(*) frameNumber, sum(ProduceM_Number) totalNumber, sum(D_totalWeight) totalWeight 
    from view_weixin_workflow_timeout where TimeOut = #{timeOut,jdbcType=INTEGER}
  </select>
  <select id="getViewEntitysByTimeOut" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select CardNo,contractNo,TimeOut,ProduceM_Name,ProduceM_Spec,D_Situation from view_weixin_workflow_timeout 
    where 
    	<choose>
    		<when test="timeOut > 31">
    			TimeOut > 31
    		</when>
    		<otherwise>
			    TimeOut = #{timeOut,jdbcType=INTEGER}
    		</otherwise>
    	</choose>
    order by CardId asc
  </select>
  <!-- 统计延期天数超过一个月的总重量和总支数  -->
  <select id="countWftosPassMonth" resultMap="BaseResultMap2">
    select sum(frameNumbers) frameNumber, sum(totalNumbers) totalNumber, sum(totalWeights) totalWeight from (select count(*) frameNumbers, sum(ProduceM_Number) totalNumbers, sum(D_totalWeight) totalWeights 
    from view_weixin_workflow_timeout where TimeOut > 31 group by TimeOut) timeOutTable
  </select>
</mapper>