<ion-view title="选择国家和地区代码">
	<div class="list list-inset country-top">
		<label class="item item-input">
			<i class="icon ion-ios-search-strong placeholder-icon"></i><span>∣</span>
			<input type="text" placeholder="搜索">
		</label>
    </div>
	<ion-content class="country-content">
      	<ion-list>
      		<ion-item class="rj-contacts-item country-item-one">
                <div class="rj-contacts-index-bar">热门国家和地区</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item item-borderless country-one">
                        <h4>中国 <div>+86</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>美国 <div>+1</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>日本 <div>+81</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>中国台湾 <div>+886</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>中国香港 <div>+852</div></h4>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="rj-contacts-item country-item-two" id="countryA">
                <div class="rj-contacts-index-bar">A</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item item-borderless country-one">
                        <h4>阿尔巴尼亚 <div>+355</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>阿尔及利亚 <div>+213</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>阿富汗 <div>+93</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>阿根廷 <div>+54</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>爱尔兰 <div>+353</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>阿曼 <div>+969</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>阿拉伯联合酋长国 <div>+972</div></h4>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="rj-contacts-item country-item-two" id="countryB">
                <div class="rj-contacts-index-bar">B</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item item-borderless country-one">
                        <h4>巴基期坦 <div>+92</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>巴哈马 <div>+1809</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>比利时 <div>+32</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>冰岛 <div>+354</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>波多黎各 <div>+1809</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>玻利维亚 <div>+591</div></h4>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="rj-contacts-item country-item-two" id="countryC">
                <div class="rj-contacts-index-bar">C</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item item-borderless country-one">
                        <h4>朝鲜 <div>+850</div></h4>
                    </ion-item>
                    <ion-item class="rj-item item-borderless country-two">
                        <h4>赤道几内亚 <div>+240</div></h4>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
	</ion-content>
	<div class="country-bottom">
        <!-- <div>&uarr;</div> -->
        <div>☆</div>
        <div><a href="#countryA">A</a></div>
        <div><a href="#countryB">B</a></div>
        <div><a href="#countryC">C</a></div>
        <div>D</div>
        <div>E</div>
        <div>F</div>
        <div>G</div>
        <div>H</div>
        <div>I</div>
        <div>J</div>
        <div>K</div>
        <div>L</div>
        <div>M</div>
        <div>N</div>
        <div>O</div>
        <div>P</div>
        <div>Q</div>
        <div>R</div>
        <div>S</div>
        <div>T</div>
        <div>U</div>
        <div>V</div>
        <div>W</div>
        <div>X</div>
        <div>Y</div>
        <div>Z</div>
        <div>#</div>
    </div>
</ion-view>