<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="false" scrollbar-y="false">
        <ion-slide-box>  
            <ion-slide>  
                <div class="box"><img src="img/begin-one.png"></div>  
            </ion-slide>  
            <ion-slide>  
                <div class="box"><img src="img/begin-two.png"></div>  
            </ion-slide>  
            <ion-slide>  
                <div class="box">
                    <img src="img/begin-three.png">
                    <div>
                        <a href="#/login" class="button button-positive" style="width:200px;height:36px;font-family:微软雅黑;font-size:15px;">立即体验 <span class="show-icon">></span></a>
                    </div>
                </div>  
            </ion-slide>  
        </ion-slide-box>
    </ion-content>
</ion-view>