<ion-view title="工作">
    <ion-nav-buttons side="left">
        <a class="button button-clear ion-social-github-outline dash-top-icon" ng-click="doSomething()" href="#"> 
        </a>
    </ion-nav-buttons>
    <ion-content class="stable-bg" overflow-scroll="false">
        <div class="list light-bg dash-top">
            <div class="list dash-title">工作管理
            </div>
            <table class="dash-table">
                <tr>
                    <td>
                        <a href="#/tab/daily">
                            <div><img src="img/gongzuoribao.png" width="50" height="50">
                            </div>
                            <p>工作日报</p>
                        </a>
                    </td>
                    <td>
                        <a href="#/tab/weekly">
                            <div><img src="img/gongzuozhoubao.png" width="50" height="50">
                            </div>
                            <p>工作周报</p>
                        </a>
                    </td>
                    <td>
                        <a href="#/tab/officeweekly">
                            <div><img src="img/bumenzhoubao.png" width="50" height="50">
                            </div>
                            <p>部门周报</p>
                        </a>
                    </td>
                    <td>
                        <a href="#/tab/weeklyplan">
                            <div><img src="img/gongzuozhoubao.png" width="50" height="50">
                            </div>
                            <p>周工作计划</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/tab/monthly">
                            <div><img src="img/yueduzongjie.png" width="50" height="50">
                            </div>
                            <p>月度总结</p>
                        </a>
                    </td>
                    <td colspan="3"></td>
                </tr>
            </table>
        </div>
        <div class="list light-bg dash-two">
            <div class="list dash-title">日常办公
            </div>
            <table class="dash-table">
                <tr>
                    <td>
                        <a href="#/tab/checking">
                            <div><img src="img/kaoqin.png" width="50" height="50">
                            </div>
                            <p>考勤管理</p>
                        </a>
                    </td>
                    <td>
                        <a href="#/tab/notice">
                            <div><img src="img/gonggao.png" width="50" height="50">
                            </div>
                            <p>公告</p>
                        </a>
                    </td>
                    <td>
                        <a href="#/tab/summary">
                            <div>
                                <img src="img/gongzuozongjie.png" width="50" height="50">
                            </div>
                            <p>工作总结</p>
                        </a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>
