<ion-view title="考勤">
	<ion-content overflow-scroll="false">
		<div class="list" style="height:auto;padding:0px;margin:0px;">
			<img src="img/map.png" width="100%">
		</div>
        <div class="item item-icon-right checking-border" href="#">
			<h2 class="notice-666">嘉定淮海国际广场</h2>
			<p>
				<i class="ion-ios-location-outline checking-icon"></i>
				<span class="checking-font">上海市嘉定区叶城路1118号</span>
			</p>
			<i class="icon ion-android-done checking-right"></i>
        </div>
        <div class="item checking-border" href="#">
			<h2 class="notice-666">叶城路1118号</h2>
			<p>
				<i class="ion-ios-location-outline checking-icon"></i>
				<span class="checking-font">上海市嘉定区叶城路1118号</span>
				<span class="item-note checking-length">
            		20米
            	</span>
			</p>
        </div>
	</ion-content>
	<ion-footer-bar class="checking-border">
	  	<div class="list checking-buttom">
			<button class="button button-small button-positive checking-button">签到</button> 
			<button class="button button-small button-light checking-button-two">签退</button>
	    </div>
	</ion-footer-bar>
</ion-view>