<ion-view title="公告">
	<ion-nav-buttons side="right">
		<a class="button icon ion-ios-trash-outline button-clear" ng-click="doSomething()" href="#">
        </a>
	</ion-nav-buttons>
	<ion-content overflow-scroll="false">
		<div class="padding list notice-top">
			<p>
				<i class="icon ion-volume-medium notice-title">
					<span class="notice-666">【公司公告】</span>
				</i>
				<i class="notice-right">昨天</i>
			</p>
			<p class="notice-b3">
				【公司提示】尊敬的上上的员工，您好！公司将于明天下午两点召开全体员工大会，请所有人务必准时参加...
			</p>
		</div>
		<div class="padding list notice-top">
			<p>
				<i class="icon ion-volume-medium notice-title">
					<span class="notice-666">【电商部公告】</span>
				</i>
				<i class="notice-right">2天前</i>
			</p>
			<p class="notice-b3">
				【公司提示】尊敬的电商部的员工，您好！公司将于明天下午两点召开会议，请所有人务必准时参加...
			</p>
		</div>
		<div class="padding list notice-top">
			<p>
				<i class="icon ion-volume-medium notice-title">
					<span class="notice-666">【销售部公告】</span>
				</i>
				<i class="notice-right">3天前</i>
			</p>
			<p class="notice-b3">
				【公司提示】尊敬的销售部的员工，您好！公司将于明天下午两点召开会议，请所有人务必准时参加...
			</p>
		</div>
	</ion-content>
</ion-view>