<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sss.dao.IDeptWeekReportDAO" >
  <resultMap id="BaseResultMap" type="com.sss.pojo.DeptWeekReport" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="fromDate" property="fromdate" jdbcType="VARCHAR" />
    <result column="endDate" property="enddate" jdbcType="VARCHAR" />
    <result column="photoUrls" property="photoUrls" jdbcType="VARCHAR" />
    <result column="fillReportDate" property="fillReportDate" jdbcType="VARCHAR" />
    
    <association property="user" javaType="com.sss.pojo.User">
		<id column="du_user_id" property="userId" jdbcType="INTEGER" />
	    <result column="du_position_id" property="position.positionId" jdbcType="INTEGER" />
	    <result column="du_user_no" property="userNo" jdbcType="VARCHAR" />
	    <result column="du_user_name" property="userName" jdbcType="VARCHAR" />
	    <result column="du_user_sex" property="sex" jdbcType="VARCHAR" />
	    <result column="du_user_status" property="status" jdbcType="VARCHAR" />
	    <result column="du_user_email" property="email" jdbcType="VARCHAR" />
	    <result column="du_user_birthDate" property="birthdate" jdbcType="VARCHAR" />
	    <result column="du_user_entryDate" property="entrydate" jdbcType="VARCHAR" />
	    <result column="du_user_lastlogindate" property="lastlogindate" jdbcType="VARCHAR" />
	    <result column="du_user_telephone" property="telephone" jdbcType="VARCHAR" />
	    <result column="du_user_address" property="address" jdbcType="VARCHAR" />
	    <result column="du_user_eduBackground" property="edubackground" jdbcType="VARCHAR" />
	    <result column="du_user_major" property="major" jdbcType="VARCHAR" />
	    <result column="du_user_school" property="school" jdbcType="VARCHAR" />
	    <result column="du_user_photoUrl" property="photoUrl" jdbcType="VARCHAR" />
	</association>
	<association property="dept" javaType="com.sss.pojo.Department">
		<id column="pd_dept_id" property="deptId" jdbcType="INTEGER" />
	    <result column="pd_dept_pid" property="parentDept.deptId" jdbcType="INTEGER" />
	    <result column="pd_dept_name" property="deptName" jdbcType="VARCHAR" />
	</association>
  </resultMap>
  <sql id="associateQuery">
  	select 
  		d.*,
  		u.user_id as du_user_id,
  		u.user_name as du_user_name,
  		u.user_no as du_user_no,
  		u.position_id as du_position_id,
  		u.sex as du_user_sex,
  		u.status as du_user_status,
  		u.email as du_user_email,
  		u.birthdate as du_user_birthDate,
  		u.entrydate as du_user_entryDate,
  		u.lastlogindate as du_user_lastlogindate,
  		u.telephone as du_user_telephone,
  		u.address as du_user_address,
  		u.edubackground as du_user_eduBackground,
  		u.major as du_user_major,
  		u.school as du_user_school,
  		u.photoUrl as du_user_photoUrl,
  		dept.dept_id as pd_dept_id,
  		dept.dept_pid as pd_dept_pid,
  		dept.dept_name as pd_dept_name
    from 
    	ss_deptweekreport d
   	left join
   		ss_user u
   	on
   		d.user_id = u.user_id
   	left join 
   		ss_department dept
   	on
   		d.dept_id = dept.dept_id
  </sql>
  <!-- 返回一个list的写法 -->
  <select id="selectList"  resultMap="BaseResultMap"  >
    <include refid="associateQuery" /> order by d.createdate desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <include refid="associateQuery" />
    where d.report_id = #{reportId,jdbcType=INTEGER} order by d.createdate desc
  </select>
  <select id="selByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <include refid="associateQuery" />
    where d.user_id = #{userId,jdbcType=INTEGER} order by d.createdate desc
  </select>
  <select id="selByUserIdAndKey" resultMap="BaseResultMap">
    <include refid="associateQuery" />
    where d.user_id = #{userId,jdbcType=INTEGER} and u.user_name like "%"#{keyWords,jdbcType=VARCHAR}"%"
  	order by d.createdate desc
  </select>
  <select id="getDWReportByFromDate" resultMap="BaseResultMap" >
    <include refid="associateQuery" />
    where d.user_id = #{userId,jdbcType=INTEGER} and d.fromDate &gt;= #{fromdate,jdbcType=VARCHAR}
  </select>
  <select id="getDWReportsByUIds" resultMap="BaseResultMap" >
    <include refid="associateQuery" />
    where d.user_id in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
	  #{item}  
	</foreach>  
    order by d.createdate desc
  </select>
  <select id="getDWReportsByUIdsLazy" resultMap="BaseResultMap" >
    <include refid="associateQuery" />
    where d.user_id in 
    <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">  
	  #{item}  
	</foreach>  
    order by d.createdate desc
    limit #{fromNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getFillCountByPri" resultType="java.lang.Integer" >
   	select count(*) from ss_deptweekreport 
    where user_id in 
	    <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
    	and fromDate &gt;= #{fromdate,jdbcType=VARCHAR} 
    	and fromDate &lt;= #{enddate,jdbcType=VARCHAR} 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ss_deptweekreport
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sss.pojo.DeptWeekReport" >
    insert into ss_deptweekreport (report_id, user_id, dept_id, createdate, 
      content, fromDate, endDate, photoUrls, fillReportDate)
    values (#{reportId,jdbcType=INTEGER}, #{user.userId,jdbcType=INTEGER}, #{dept.deptId,jdbcType=INTEGER}, #{createdate,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{fromdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{photoUrls,jdbcType=VARCHAR},
      #{fillReportDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sss.pojo.DeptWeekReport" >
    insert into ss_deptweekreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="user.userId != null" >
        user_id,
      </if>
      <if test="dept.deptId != null" >
        dept_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="fromdate != null" >
        fromDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="photoUrls != null" >
        photoUrls,
      </if>
      <if test="fillReportDate != null and fillReportDate != ''" >
        fillReportDate,
      </if>
      createdate,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        #{reportId,jdbcType=INTEGER},
      </if>
      <if test="user.userId != null" >
        #{user.userId,jdbcType=INTEGER},
      </if>
      <if test="dept.deptId != null" >
        #{dept.deptId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromdate != null" >
        #{fromdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="photoUrls != null" >
        #{photoUrls,jdbcType=VARCHAR},
      </if>
      <if test="fillReportDate != null and fillReportDate != ''" >
        #{fillReportDate,jdbcType=VARCHAR},
      </if>
      <if test="createdate == null or createdate == ''" >
        now(),
      </if>
      <if test="createdate != null and createdate != ''" >
        #{createdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sss.pojo.DeptWeekReport" >
    update ss_deptweekreport
    <set >
      <if test="user.userId != null" >
        user_id = #{user.userId,jdbcType=INTEGER},
      </if>
      <if test="dept.deptId != null" >
        dept_id = #{dept.deptId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null and createdate != ''" >
        createdate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromdate != null" >
        fromDate = #{fromdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="photoUrls != null" >
        photoUrls = #{photoUrls,jdbcType=VARCHAR},
      </if>
      <if test="fillReportDate != null and fillReportDate != ''" >
        fillReportDate = #{fillReportDate,jdbcType=VARCHAR},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sss.pojo.DeptWeekReport" >
    update ss_deptweekreport
    set user_id = #{user.userId,jdbcType=INTEGER},
      dept_id = #{dept.deptId,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      fromDate = #{fromdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      photoUrls = #{photoUrls,jdbcType=DATE},
      fillReportDate = #{fillReportDate,jdbcType=VARCHAR}
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <!-- 高级搜索 -->
  <select id="selectByAdvancedSearchDTO" useCache="false" resultMap="BaseResultMap">
	<include refid="associateQuery" />
	where 1=1 
		<if test="list != null">
			<foreach item="item" index="index" collection="list" separator=" " >  
			  and ${item.fieldName} ${item.condition} ${item.fieldValue} 
			</foreach>  
		</if>
	order by d.createdate desc
  </select>
  <!-- 复杂高级搜索 -->
  <select id="selectByComplexAdvancedSearchDTO" useCache="false" resultMap="BaseResultMap">
    <include refid="associateQuery" />
    where 1=1 
    	<if test="list != null">
		    <foreach item="mapItem" index="listIndex" collection="list" >  
		    	<if test="listIndex == 0">and</if>
				 (
				<foreach item="item" index="index" collection="mapItem.searchDTOs">
					${item.fieldName} ${item.condition} ${item.fieldValue} ${item.LogicalOperator} 
				</foreach>
				)
				${mapItem.groupLogicalOperator}
			</foreach>  
    	</if>
    order by d.createdate desc
  </select>
</mapper>